<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>清华团聚</title>
     {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    {% bootstrap_javascript %}
    <style>
        body {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .navbar {
          margin-bottom: 20px;
        }
    </style>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}
    {% endblock %}

</head>
<body>
     <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">清华团聚</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li {% if page == 'organizations' %} class="active" {% endif %}><a href="/organizations" >校级组织</a></li>
              <li  {% if page == 'departments' %} class="active" {% endif %}><a href="/departments">院系所</a></li>
              <li {% if page == 'zhibu' %} class="active" {% endif %}><a href="/zhibu" >团支部</a></li>
              <li {% if page == 'surround' %} class="active" {% endif %}><a href="/surround" >清华周边</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="logout">登出</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
     <div class="col-md-6">{% bootstrap_messages messages %}</div>
     <div class="col-md-3"><a class='btn btn-success pull-right' href="cube?tuanju_type={{ tuanju_type }}" target="_blank">预览</a></div>
     <div class="col-md-3"><button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addModal">添加</button></div>
        <table class="table table-hover">
            <thead>
                <td style="width: 50px" class="info">序号</td>
                <td style="width: 200px">名称</td>
                <td style="width: 70px">图片</td>
                <td>链接</td>
                <td style="width: 250px">操作</td>
            </thead>
            <tbody>
            {% block tbody %}
            {% endblock %}

            </tbody>
        </table>


    </div> <!-- /container -->
{% block modal %}{% endblock %}

</body>
</html>